In [10]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Create Splinter browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News
Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [3]:
# Access and visit the NASA Mars News Site URL
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [4]:
# HTML object
html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain news title
latest_news = soup.find_all('div', class_="list_text")

# Iterate through each news titles
for news in latest_news:
    # Use BeautifulSoup'find() method to navigate and retrieve attributes
    news_title = news.find('div', class_="content_title")
    news_p = news.find('div', class_="article_teaser_body")
    print('------------')
    print(news_title.text)
    print(news_p.text)

------------
NASA's Treasure Map for Water Ice on Mars
A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.
------------
Two Rovers to Roll on Mars Again: Curiosity and Mars 2020
They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.
------------
NASA's Briefcase-Size MarCO Satellite Picks Up Honors
The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.
------------
Global Storms on Mars Launch Dust Towers Into the Sky
A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.
------------
NASA Updates Mars 2020 Mission Environmental Review
NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.
------------
Two of a Space Kind: Apollo 12 and Mars 2020
Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.
------------
Mars Scientists Investigate Ancient Life in Australia
Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.
------------
NASA's Mars 2020 Will Hunt for Microscopic Fossils
A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life.
------------
With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen
For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars.
------------
NASA's Mars 2020 Heads Into the Test Chamber
In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.
------------
Screening Soon: 'The Pathfinders' Trains Lens on Mars
With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.
------------
InSight's 'Mole' Team Peers into the Pit
Efforts to save the heat probe continue.
------------
Common Questions about InSight's 'Mole'
There's a new plan to get InSight's "mole" moving again. The following Q&As with two members of the team answer some of the most common questions about the burrowing device, part of a science instrument called the Heat Flow and Physical Properties Package (HP3).
------------
Mars 2020 Stands on Its Own Six Wheels
In time-lapse video, taken at JPL, captures the first time NASA's Mars 2020 rover carries its full weight on its legs and wheels.
------------
New Selfie Shows Curiosity, the Mars Chemist
The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.
------------
Naming a NASA Mars Rover Can Change Your Life
Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.
------------
Mars 2020 Unwrapped and Ready for More Testing
In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.
------------
HiRISE Views NASA's InSight and Curiosity on Mars
New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.
------------
NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.
------------
NASA's Mars 2020 Rover Tests Descent-Stage Separation
A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.
------------
NASA's Push to Save the Mars InSight Lander's Heat Probe
The scoop on the end of the spacecraft's robotic arm will be used to 'pin' the mole against the wall of its hole.
------------
NASA's InSight 'Hears' Peculiar Sounds on Mars
Listen to the marsquakes and other, less-expected sounds that the Mars lander has been detecting.
------------
NASA Mars Mission Connects With Bosnian and Herzegovinian Town
A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.
------------
Deadline Closing for Names to Fly on NASA's Next Mars Rover
You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover.
------------
NASA Wins Two Emmy Awards for Interactive Mission Coverage
NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.
------------
NASA's Mars 2020 Comes Full Circle
Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL.
------------
NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.
------------
NASA's Mars Helicopter Attached to Mars 2020 Rover
The helicopter will be first aircraft to perform flight tests on another planet.
------------
What's Mars Solar Conjunction, and Why Does It Matter?
NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.
------------
Scientists Explore Outback as Testbed for Mars
Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
------------
NASA-JPL Names 'Rolling Stones Rock' on Mars
NASA's Mars InSight mission honored one of the biggest bands of all time at Pasadena concert.
------------
Robotic Toolkit Added to NASA's Mars 2020 Rover
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.
------------
Space Samples Link NASA's Apollo 11 and Mars 2020
While separated by half a century, NASA's Apollo 11 and Mars 2020 missions share the same historic goal: returning samples to Earth.
------------
Small Satellite Mission of the Year
The first interplanetary CubeSats were recognized by the engineering community with the 2019 Small Satellite Mission of the Year award.
------------
NASA 'Optometrists' Verify Mars 2020 Rover's 20/20 Vision
Mars 2020 rover underwent an eye exam after several cameras were installed on the rover.
------------
New Finds for Mars Rover, Seven Years After Landing
NASA's Curiosity rover is discovering odd rocks halfway into a region called the "clay-bearing unit."
------------
MEDLI2 Installation on Mars 2020 Aeroshell Begins
Hardware installed onto NASA's Mars 2020 entry vehicle this week will help to increase the safety of future Mars landings.
------------
NASA's Mars 2020 Rover Does Biceps Curls
In this time-lapse video, the robotic arm on NASA's Mars 2020 rover maneuvers its 88-pound (40-kilogram) sensor-laden turret as it moves from a deployed to stowed configuration.
------------
Fueling of NASA's Mars 2020 Rover Power System Begins
NASA gives the go-ahead to fuel the Mars 2020 rover's Multi-Mission Radioisotope Thermoelectric Generator, which will power rover and help keep it warm while exploring Mars.
------------
What Does a Marsquake Look Like?
InSight scientists used a special "shake room" to demonstrate the differences between quakes on Earth, the Moon and Mars.

## JPL Mars Space Images - Featured Image

In [5]:
# Access and visit the JPL Mars Space Images URL
featured_img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_img_url)

In [6]:
# HTML object
img_html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(img_html, 'html.parser')

#full_click=browser.find_by_id('full_image')
#full_click.click()

# Retrieve Featured Mars Image url from style tag 
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

# Put the website url together with the features image url
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url

# Display full link to featured image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18846-1920x1200.jpg'

## Mars Weather
Save the tweet text for the weather report as a variable called `mars_weather`.

In [8]:
# Access and visit Mars Weather twitter URL
mars_twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_twitter_url)

In [9]:
# HTML object
twitter_marswx_html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(twitter_marswx_html, 'html.parser')

# Get the text from the latest Mars weather tweet
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

# Display the tweet text
mars_weather

'InSight sol 368 (2019-12-09) low -100.0ºC (-148.1ºF) high -20.9ºC (-5.7ºF)\nwinds from the SSE at 4.6 m/s (10.3 mph) gusting to 20.9 m/s (46.8 mph)\npressure at 6.60 hPapic.twitter.com/61fJKr5rsU'

## Mars Facts
- Table containing facts about the planer.
- Convert the data to a HTML table string.

In [12]:
# Access and visiti the Mars facts webpage
mars_facts_url = 'https://space-facts.com/mars/'

In [19]:
# Get any tabular data from the webpage
facts_tables = pd.read_html(mars_facts_url)
facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
# Datatype of facts_tables
type(facts_tables)

list

In [28]:
# Slice off the dataframe that we want usin normal indexing
facts_df = facts_tables[0]
facts_df.columns = ['Fact', 'Value']

# Preview the Dataframe
facts_df

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
# Set the index to the `Fact` column
facts_df.set_index('Fact', inplace=True)
facts_df

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [33]:
# Convert the Dataframe to HTML
html_table = facts_df.to_html()

# Preview of the html_table
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
# Strip unwanted newlines to clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'